<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="comment">
      <div class="comment--header">
        <div class="comment--header--post-title">
          <h2><%= options[:product_name] %></h2>
          <p class="subtext"><%= options[:product_tagline] %></p>
        </div>
      </div>
      <div class="comment--content">
        <p>
          <%= options[:content] %>
        </p>
      </div>
      <div class="comment--footer">
        <div class="comment--footer--user">
          <div class="comment--footer--avatar">
            <img width=20 height=20 src="<%= options[:avatar_url] %>" />
          </div>
          <div class="comment--footer--name">
            <%= options[:name] %> <span class="subtext">- <%= options[:tagline] %></span>
          </div>
        </div>
    </div>
  </body>
</html>
